<!DOCTYPE html>
<html>
<head>
    <title>Care Connect</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Care Connect</h1>
        <p>Your go-to platform for donating and receiving medicines.</p>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/register/donor">Register as Donor</a>
        <a href="/register/recipient">Register as Recipient</a>
        <a href="/login">Login</a>
    </nav>
    <div class="container">
        <p>
            <br>

            <p>Care Connect is a platform designed for easy donation and access to medicines. It aims to provide a convenient way for donors to contribute medicines and for recipients to receive them. The platform's vision is to ensure that everyone has access to essential medicines, regardless of their circumstances.<p>
          <br>
        </p><br>

        <h2>Our Vision</h2>
        <p>Our vision is to create a world where everyone has access to essential medicines, regardless of their circumstances.</p><br><br>
        <h2>Our Mission</h2>
        <p>Our mission is to provide a platform for easy donation and access to medicines for those in need.</p><br>
    </div>
    <footer>
        <p>&copy; 2024 Care Connect. All Rights Reserved.</p>
    </footer>
</body>
</html>
