<!DOCTYPE html>
<html>
<head>
    <title>Request Details</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Request Details</h1>
    </header>
    <nav>
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
    </nav>
    <div class="container">
        <h2>Recipient Details</h2>
        <p><strong>Recipient Name:</strong> {{ username }}</p>
        <p><strong>Medicine Name:</strong> {{ medicine_name }}</p>
        <p><strong>Details:</strong> {{ details }}</p>
        <!-- change -->
        <p><strong>Prescription:</strong> <a href="https://firebasestorage.googleapis.com/v0/b/fir-auth2-826cc.appspot.com/o/prescriptions%2F{{ prescription }}?alt=media&token=bb4aaf21-8072-48d6-91a1-920b6bf79357" download>Download Prescription</a></p>
    </div>
</body>
</html>
